<ion-view view-title="Chat with {{ person.screenName }}">
  <ion-content class="padding">
    <ul class="chatMessageBox">
      <li ng-repeat="message in messages" class="chatMessage">
        <span class="name">
          <span ng-if="message.type === 0" class="outgoing">{{ userSettings.screenName }}</span>
          <span ng-if="message.type === 1" class="incoming">{{ person.screenName }}</span>
          <span ng-if="message.type === 2" class="notice">Notice</span>
        </span>
        {{ message.body }}
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset" keyboard-attach>
    <label class="item-input-wrapper">
      <input ng-model="outBox.outMessage" type="text" placeholder="Message">
    </label>
    <button ng-click="outBox.send()" class="button button-small">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
