<ion-view view-title="Flexers at {{ hallName }}">
  <ion-content>
    <div class="card" ng-if="offers.length === 0">
      <div class="item item-text-wrap">
        Sorry, no flexers are in {{ hallName }} right now.
      </div>
    </div>
    <ion-list>
      <ion-item
        class="item-remove-animate item-icon-right"
        ng-repeat="offer in offers"
        type="item-text-wrap"
        href="#/tab/chats/{{ offer.id }}">
        <h2>{{ offer.screenName }}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
