<ion-view view-title="Menu">
  <ion-content class="padding">
    <div class="list card">
      <a href="#/tab/menu/today" class="item item-icon-left">
        <i class="icon ion-social-buffer-outline"></i>
        Today
      </a>
      <a href="#/tab/menu/upcoming" class="item item-icon-left">
        <i class="icon ion-ios-calendar-outline"></i>
        Upcoming
      </a>
      <a href="#/tab/menu/wings" class="item item-icon-left">
        <i class="icon ion-fireball"></i>
        Wings Finder
      </a>
  </ion-content>
</ion-view>
